In [2]:
import pandas as pd

In [3]:
stupath = "Resources/students_complete.csv"
schlpath = "Resources/schools_complete.csv"

stulis_df = pd.read_csv(stupath)
school_df = pd.read_csv(schlpath)

#stulis_df.head()
#school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [34]:
stubyschl_df = stulis_df.groupby('school_name').mean()
read_scr_schl = [round(rval,2) for rval in stubyschl_df['reading_score']]
math_scr_schl = [round(mval,2) for mval in stubyschl_df['math_score']]
stubyschl_df.head()

#these lists should be sorted by school in alphabetical order
print(read_scr_schl)
print(math_scr_schl)

[81.03, 83.98, 81.16, 80.75, 83.82, 80.93, 83.81, 81.18, 80.97, 84.04, 80.74, 83.73, 83.85, 83.99, 83.95]
[77.05, 83.06, 76.71, 77.1, 83.35, 77.29, 83.8, 76.63, 77.07, 83.84, 76.84, 83.36, 83.42, 83.27, 83.68]

In [20]:
#District Summary
#Create Data Frame to include Total Number of unique schools; total number of students; total budget; average math score; average reading score; % passing math, % passing reading, % passing both

school_count = school_df.school_name.unique().size
#print("There are " + str(school_count) + " schools in this distric.")
student_count = school_df['size'].sum()
#print("There are " + str(student_count) + " students in this distric.")
total_budget = school_df['budget'].sum()
#print("The total budget for all schools in the distric is $" + str(total_budget) + ".")
read_score_total = stulis_df['reading_score'].sum()
dis_avr_read = round((read_score_total)/(student_count),2)
#print("The average grade in reading in the distric is " + str(dis_avr_read) + ".")
math_score_total = stulis_df['math_score'].sum()
dis_avr_math = round((math_score_total)/(student_count),2)
#print("The average grade in math in the distric is " + str(dis_avr_math) + ".")
num_pass_read = len(stulis_df[stulis_df['reading_score']>=70])
prcnt_pass_read = round(((num_pass_read)/(student_count)*100),2)
#print("The percent of students passing reading in the distric is " + str(prcnt_pass_read) + "%.")
num_pass_math = len(stulis_df[stulis_df['math_score']>=70])
prcnt_pass_math = round(((num_pass_math)/(student_count)*100),2)
#print("The percent of students passing math in the distric is " + str(prcnt_pass_math) + "%.")
num_pass_both = len(stulis_df[(stulis_df['math_score']>=70) & (stulis_df['reading_score']>=70)])
prcnt_pass_both = round(((num_pass_both)/(student_count)*100),2)
#print("The percent of students passing both reading and math in the distric is " + str(prcnt_pass_both) + "%.")

In [28]:
distric_summary = {
    'Number of Schools':[school_count],
    'Number of Students':[student_count],
    'Total Budget':[total_budget],
    'Average Math Score':[dis_avr_math],
    'Average Reading Score':[dis_avr_read],
    'Percent Passing Math':[prcnt_pass_math],
    'Percent Passing Reading':[prcnt_pass_read],
    'Percent Passing Both':[prcnt_pass_both]
    }
distric_summary_df = pd.DataFrame(distric_summary)
distric_summary_df.style.hide(axis='index')

In [ ]:
#School Summary
#Create Data Frame to include School name, school type, total number of students; total budget; budget per student, average math score; average reading score; % passing math, % passing reading, % passing both
#build new dataframe off of school_df
#need to group stulis_df by school and then later further by grade
#add additional columns to new df based on calculations done on stulis_df groups